# Requirements for I-MLE-DAG
# updated 22 July 2022

causaldag == 0.1a163
joblib == 1.1.0
jupyter == 1.0.0
matplotlib == 3.5.1
networkx == 2.7.1
numpy == 1.22.3
odfpy == 1.4.1
optuna == 2.10.0
torch == 1.11.0 # --extra-index-url https://download.pytorch.org/whl/cu116
python-dateutil == 2.8.1
python-igraph == 0.9.11
scipy == 1.8.1
tqdm == 4.64.0
# wandb == 0.12.21  # but not sure if helpful and not liked by cluster



